<h1>Listing films</h1>
 


<div class = "container">
<table class="table table-default">
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="2"></th>
  </tr>
 
  <% @films.each do |film| %>
    <tr>
      <td><%= film.title %></td>
      <td><%= film.text %></td>
      <td><kbd><%= link_to 'Show ', film_path(film) %></kbd></td>
      <td><kbd><%= link_to 'Edit ', edit_film_path(film) %></kbd></td>
     <td><kbd><%= link_to 'Destroy', film_path(film),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></kbd></td
    </tr>
  <% end %>

</table>
</div>
<kbd><%= link_to 'New film', new_film_path %></kbd>
<%= form_tag(films_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search film" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>


